body
{
	background-color: #111;
	color: #ddd;
	margin: 0 20%;
}
@media screen and (max-width: 1200px)
{
	body
	{
		margin: 0 240px;
		width: 720px;
	}
}

a
{
	text-decoration: none;
	color: #ddd;
	font-weight: bold;
	padding: 0 0.2em;
	border-bottom: 2px solid #888;
}
a:hover
{
	background-color: #888;
	color: #111;
}

::selection
{
	color: #fff;
	background: #208080;
}

.nav
{
	list-style-type: none;
	border: 1px solid;
	padding: 0;
	margin: 1em 0;
	overflow: hidden;
}
.navitem
{
	border-right: 1px solid;
	float: left;
	display: inline;
	width: 25%;
	margin: 0 0 0 -1px;
}
.navitem a
{
	display: block;
	color: #ddd;
	text-align: center;
	padding: 0.5em;
	text-decoration: none;
	border: none;
}
.navitem a:hover
{
	color: #111;
	background-color: #888;
}

.category
{
	margin: 2em 0;
	border-left: 1px solid;
	border-bottom: 4px solid;
}
.catetop
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-top: 1px solid;
	border-right: 6px solid;
	background: #888;
}
.catename
{
	float: left;
	font-weight: bold;
}
.catebtn
{
	float: right;
	width: 10%;
	border-top: 4px solid;
	text-align: right;
}
.catecontent
{
	padding: 0 1em;
}
h4
{
	color: #111;
	line-height: 100%;
	margin: 0.5em;
}